body {
  background-color: #fffff;
}

p {
  font-size: 16px;
  line-height: 20px;
}

h5 {
  color: #6998a0;
  font-size: 50px;
  text-align: center;
}

h1 {
  color: #6998a0;
}

h3 {
  color: #6998a0;
  font-size: 40px;
}

a {
  color: black;
  font-size: 16px;
}

.footer {
  color: #6998a0;
  font-size: 40px;
}

.about-me {
  display: grid;
  grid-column-start: 1fr 6fr;
  grid-template-rows: 100%;
  grid-template-areas: 'photo about_me_text';
  padding-top: 20px;
}

.photo {
  grid-area: photo;
  padding-left: 30px;
}

.about_me_text {
  grid-area: about_me_text;
}

.info {
  display: grid;
  grid-column-start: 2fr 2fr 2fr;
  grid-template-rows: 100%;
  grid-template-areas: 'contact tools projects';
}

.contact {
  grid-area: contact;
  font-size: 24px;
  padding-left: 30px;
  padding-top: 30px;
}

.tools {
  grid-area: tools;
  padding-left: 30px;
  padding-top: 30px;

}

toolstext {
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;

}


.project {
  grid-area: projects;
  padding-top: 30px;
}

.li {
  display: inline;
}

.toolsicons {
  font-size: 40px;
}

.contacticons {
  font-size: 25px;
}

headertext {
  color: #6998a0;
}

footertext {
  color: #6998a0;
}

nav.navbar.navbar-light.bg-light.fixed-top {
  padding-left: 30px;
}
