%nav.navbar.navbar-light.bg-light
  %a.navbar-brand{:href => "https://www.karlmagnus.no"}
    %img.d-inline-block.align-top{:alt => "", :height => "30", :src => "/images/old_computer.png", :width => "30"}
      %headertext karlmagnus
