%nav.navbar.navbar-light.bg-light.fixed-top
  %a.navbar-brand{:href => "https://www.karlmagnus.no"}
    %img.d-inline-block.align-top{:alt => "", :height => "30", :src => "/images/karlmagnus.png", :width => "30"}/
    karlmagnus
