---
title: karlmagnus
---
.main


<!-- title -->
%section.title
  .container
    .box
      %h1 karlmagnus

<!-- About me Section -->
.about-me
  .photo
    %img(src="/images/karlmagnus.png" width="50%" height="50%")
  .about_me_text
    .text
      %h5 < about_me />
      %p
        32 year old norwegian who enjoys cheap airline tickets, lower division football, sundays, robotic vacuumers, cheap things from ebay and the feeling you get when wearing a pair of brand new socks for the first time.
        %br/
        %br/
        Oh, almost forgot. I'm trying to learn to < code />.

<!-- Contact -->
.info
  .contact
    %h3 < contact />
    %p
      %a{:href => "tel:+4793458771"}
        %i.icon-phone-alt +47 934 58 771
    %p
      %a{:href => "mailto:hei@karlmagnus.no?Subject=Hei%20Kalle", :target => "_top"} hei@karlmagnus.no
    %p
      %a{:href => "https://github.com/kmthorsnes"}
        %i.contacticons.fa.fa-lg.fa-github
      %a{:href => "https://www.linkedin.com/in/karl-magnus-thorsnes/"}
        %i.contacticons.fa.fa-lg.fa-linkedin
      %a{:href => "https://www.facebook.com/karlmagnus"}
        %i.contacticons.fa.fa-lg.fa-facebook
      %a{:href => "https://www.instagram.com/karl_magnus"}
        %i.contacticons.fa.fa-lg.fa-instagram
      %a{:href => "https://www.twitter.com/karlmagnus"}
        %i.contacticons.fa.fa-lg.fa-twitter
      %a{:href => "https://www.twitter.com/karlmagnus"}
        %i.contacticons.icon-git
  .tools
    %h3 < tools />
    %p
      %i.toolsicons.icon-html5-alt
        %toolstext Html
    %p
      %i.toolsicons.icon-javascript-alt
        %toolstext JavaScript
    %p
      %i.toolsicons.icon-ruby
        %toolstext Ruby
    %p
      %i.toolsicons.icon-css
        %toolstext CSS
    %p
  .project
    %h3 < projects />
    - data.projects. each do |project|
      %img(src="#{project[:projecticon]} "height="25px")
      %a{href: project[:url]}= project[:name]
      %p= project[:description]


    -# - data.projects.each do |project|
    -#   %a{href: project[:url]}= project[:description]
    -#   %p= project[:name]
